ul.dropdown li { position: relative; }
ul.dropdown,
ul.dropdown_inside {
    list-style-type: none;
    padding: 0;
}
ul.dropdown_inside {
    position: absolute;
    left: -9999px;
}
ul.dropdown li.dropdown_top {
    display: inline;
    float: left;
    margin: 0 1px 0 0;
}
ul.dropdown li.dropdown_top a {
    padding: 3px 10px 4px;
    display: block;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
}
ul.dropdown a.dropdown_top { background: #efefef;     color: #000; }
ul.dropdown a.dropdown_top:hover { padding: 2px 10px 5px; }
ul.dropdown li.dropdown_top:hover .dropdown_inside {
    display: block;
    left: 0;
}
ul.dropdown .dropdown_inside { background: #fff; }
ul.dropdown .dropdown_inside a:hover { background: #efefef; }

.comment{
    margin: 100px 0 0 100px;
    background-color: antiquewhite;
}
.name{
    color: crimson;
    font: 12px 'Arial', sans-serif;
}
.comment p{color: blue;}
